{
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "quoteProps": "consistent",
  "singleQuote": true,
  "useTabs": true
}
