{
	"useTabs": true,
	"singleQuote": true,
	"quoteProps": "consistent",
	"trailingComma": "all",
	"printWidth": 100,
	"endOfLine": "auto",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{ "files": "*.jsonc", "options": { "trailingComma": "none" } },
		{ "files": "*.md", "options": { "useTabs": false, "tabWidth": 2 } },
		{ "files": "*.svelte", "options": { "parser": "svelte" } },
		{ "files": "tsconfig*.json", "options": { "parser": "jsonc" } }
	],
	"tailwindConfig": "./tailwind.config.cjs"
}
